body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  /* Adjust the opacity value and color as needed */
}

.font-x-large {
  font-size: xx-large;
}

.font-xxx-large {
  font-size: xxx-large;
}

.top-8rem {
  top: 8rem;
}

@media (min-width: 1440px) {
  .xxl\:text-6xl {
    font-size: 3rem;
  }
}

.bg-cover-btm {
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: bottom;
}